*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100vh;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title{
    margin-bottom: 40px;
    font-size:3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

.box{
    width:150px;
    height:150px;
    background-color: inherit;
    border:1px solid #fff;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0 0 10px #fff;
}

.user{
    text-shadow: 0 0 10px blue, 0 0 15px blue, 0 0 30px blue;
}

.computer{
    text-shadow: 0 0 8px red, 0 0 15px red, 0 0 30px red;

}

.hover:hover{
    background-color: rgba(0,0,0,0.3);
    cursor:pointer;
}

#game_pad{
    padding:10px;
    width:480px;
    height:480px;
    display: flex;
    gap:5px;
    flex-wrap: wrap;
}

#display{
    margin-top: 20px;
    padding:10px;
    color:#fff;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

.gameover{
    filter: blur(10px);

}

#btn{
    padding: 15px 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    background-color: #fff;
    color: #000;
    outline: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: none;
    cursor: pointer;
}

#btn:hover{
    box-shadow: 0 0 10px #fff;
}

.hide{
    display: none;
}
